/* 
    Document   : style
    Created on : 4 mars 2014, 08:51:03
    Author     : antonio
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body
{
    width: 100%;
    height: 100%;
}
.a_droite
{
    float: right;
}

a:link
{
    margin-top: 0px; 
    text-decoration: none;
    color: black;
}
a:visited
{
    margin-top: 0px; 
    text-decoration: none;
    color: black;
}
a:hover
{
    margin-top: 0px; 
    text-decoration: none;
    color: lime;
}
a:active
{
    margin-top: 0px; 
    text-decoration: none;
    color: fuchsia;
}
.red 
{
    color : red;
}
.disabled
{
    color: grey;
    margin-top: 0px;
    font-size: 11pt;
}
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
#principal
{
    width: 1200px;
    height: 680px;
    margin: auto;
    /*border-radius: 25px; 
    box-shadow: 15px 15px 200px black;*/
}
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
#banniere
{
    width: 1200px;
    height: 100px;
}
#titre_site
{
    font-size: 20pt;
}
.div_banniere
{
    width: 240px;
    height: 100px;
    float : left;
    font-size: 12pt;
    text-align: center;
}
#display_user
{
    font-size: 11pt;
    color: red;
}
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
#categorie
{
    width: 198px;
    height: 680px;
    margin-top: 25px;
    float: left;
    //background-color: red;
    border : 1px solid black;
    border-radius: 25px 0px 0px 0px;
    //box-shadow: 15px 15px 20px black;
}
.affichage_categorie
{
    width: 90%;
    height: 50px;
    margin: auto;
    text-align: center;
    border-bottom: solid 1px black;
}
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
.warning_message
{
    //text-align: center;
    font-size: 23pt;
    color: red;
    //margin-top: 100px;  
}
#contenent
{
    width: 999px;
    height: 680px;
    margin-top: 25px;
    float: left;
    //background-color: yellow;
    //border-radius: 25px;
    //box-shadow: 15px 15px 20px black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0px 25px 0px 0px;
}
#afficher_annonce
{
    width: 95%;
    height: 650px;
    margin: auto;
    //background-color: green;
}
#titre_prix
{
    width: 100%;
    height: 50px;
    margin: auto;
    margin-top: 30px;
    //margin-bottom: 30px;
    font-size: 30pt;
    text-align: center;
}
#titre
{
    width: 50%;
    float: left;
}
#prix
{
    width: 50%;
    float: left;
}
#categorie_annonce
{
    width: 80%;
    height: 50px;
    font-size: 35pt;
    padding-left: 40px;
}
#photos
{
    width: 44%;
    height: 500px;
    float: left;
    //background-color: yellow;
}
#photo_principale
{
    width: 100%;
    height: 350px;
    //background-color: green;
}
#photo_principale img
{
    width: 100%;
    height: 100%;
}
#photos_miniatures
{
    width: 100%;
    height: 100px;
    margin-top: 40px;
    float: left;
    overflow: auto;
    //overflow-y: hidden;
    //overflow: -moz-scrollbars-horizontal;
    //background-color: grey;
}
.img_miniature
{
    width: 23%;
    height: 100px;
    //float: left;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    //background-color: grey;
}
.img_miniature img
{
    width: 100%;
    height: 100%;
}

.gp_miniature
{
    width: 23%;
    height: 100px;
    float: left;
/*    display: inline-block;*/
    //background-color: purple;
    margin-left: 2.5px;
    margin-right: 2.5px;
    text-align: center;
}
.gp_miniature input
{
    margin: auto;
    margin-top: 20px;
}

.modifier_img_miniature
{
    width: 90%;
    height: 100px;
    float: left;
}
.modifier_img_miniature img
{
    width: 100%;
    height: 100%;
}
.supprimer_photo_miniature
{
    width: 5%;
    float: left;
    //background-color: aqua;
}

.supprimer_photo_miniature a:link
{
    margin-top: 0px; 
    text-decoration: none;
    color: lightgrey;
}
.supprimer_photo_miniature a:visited
{
    margin-top: 0px; 
    text-decoration: none;
    color: lightgrey;
}
.supprimer_photo_miniature a:hover
{
    margin-top: 0px; 
    text-decoration: none;
    color: black;
}
.supprimer_photo_miniature a:active
{
    margin-top: 0px; 
    text-decoration: none;
    color: fuchsia;
}
/*#next
{
    width: 50px;
    height: 100px;
    float: right;
    background-color: red;
}*/
#enveloppe_description
{
    width: 56%;
    height: 440px;
    float: left;
    //border-left: solid black 1px;
    //background-color: red;
    overflow: auto;
}
#description
{
    width: 350px;
    height: 390px;
    font-size: 20pt;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    
}

#va_menu
{
    width: 56%;
    height: 60px;
    float: left;
    //background-color: yellow;
}
#va_menu fieldset
{
    border-radius: 10px;
}
#va_menu div
{
    width: 33%;
    float: right;
    text-align: center;
    /*background-color: purple;*/
}
#va_menu div input
{
    text-align: center;
}
#infos
{
    width: 100%;
    height: 50px;
    float: left;
    border-top: solid black 1px;
    border-left: solid black 1px;
}
.info
{
    width: 33.2%;
    height: 40px;
    padding-top: 10px;
    float: left;
    text-align: center;
    border-right: solid black 1px;
}
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
#pied_page
{
    width: 1198px;
    height: 50px;
    float: left;
    margin-bottom: 25px;
    border : 1px solid black;
    border-top: none;
    border-radius: 0px 0px 25px 25px;
}
#pied_page div
{
    width: 400px;
    height: 50px;
    float: left;
    text-align: center;
}
